.main-navigation {
  display: inline-flex;
  padding: 20px;
}
.navigation-option {
  margin: auto 10px;
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
}

.trolley-icon {
  width: 30px;
  position: relative;
  top: -3px;
}
.trolley {
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0;
  margin: 5px auto 1px;
  outline: none;
}
.trolley {
  max-width: 30px;
  padding-right: 1px;
  padding-top: 3px;
  margin-top: 0px;
  position: relative;
  top: 0;
  background: none;
  background-image: url("../images/cart.svg");
  width: 30px;
}
