.options-header {
    text-align: center;
}
.options-row {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.option {
  border: 1px solid black;
  margin: 0 10px;
  flex-grow: 1;
  height: 180px;
  text-align: center;
  line-height: 180px;
}

.options-block:last-child {
    margin-bottom: 60px;
}